@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  
  --color-primary: #136dec;
  --color-primary-dark: #1058c0;
  
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
}

/* Custom Utilities if needed, or just use class names directly */
@utility text-balance {
  text-wrap: balance;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display;
  }
}
